.field
    &.is-grouped
        display: flex
        justify-content: flex-start

        & > .control
            flex-shrink: 0

            &:not(:last-child)
                margin-bottom: 0
                margin-right: 0.75rem

        &.is-grouped-multiline
            flex-wrap: wrap

            & > .control
                &:last-child, &:not(:last-child)
                    margin-bottom: 0.75rem

            &:last-child
                margin-bottom: -0.75rem
