@import '../../slim-bulma-stylus/component/menu-basic'
@import '../../slim-bulma-stylus/component/media'
@import '../../slim-bulma-stylus/form-tool/field-grouped'

article.media
    .image
        width: 64px
        height: 64px

        img
            object-fit: cover
            width: 100%
            height: 100%

    .media-content
        color: $text-light

        .date
            display: block
            font-size: $size-7

        .title
            display: block
            width: -moz-fit-content
            width: fit-content
            margin: 0
            line-height: inherit
            font-size: $size-6
            color: $title-color

            &:hover
                color: $primary

        .categories
            @extend .is-capitalized
            font-size: $size-7

.widget
    .menu-label
        font-size: 1rem

    .menu-list
        .level
            margin-bottom: 0

            .level-left, .level-right, .level-item
                flex-shrink: 1

    .tags
        .tag
            margin-bottom: 0

        .tag:first-child
            background: $primary
            color: $primary-invert
