@import '../../slim-bulma-stylus/component/menu-list'

/* ---------------------------------
 *      Table of Content Widget
 * --------------------------------- */
.widget.card#toc
    .menu-list
        li
            ul
                margin-right: 0

            a.collapsed.is-active + .menu-list
                display: block

            a.collapsed + .menu-list
                display: none

+mobile()
    .widget.card#toc
        display: none
        position: fixed
        margin: 2rem 1rem
        left: 0
        right: 0
        bottom: 0
        z-index: 100

        .card-content
            padding: 0

        .menu
            padding: 1.5rem
            max-height: calc(100vh - 2rem)
            overflow-y: auto

    #toc-mask
        display: none
        position: fixed
        top: 0
        left: 0
        right: 0
        bottom: 0
        z-index: 99
        background: rgba(0, 0, 0, .7)

    .widget.card#toc, #toc-mask
        &.is-active
            display: block
