@import 'menu-vars'

.menu
    font-size: $size-normal

.menu-list
    line-height: $menu-list-line-height

    a
        border-radius: $menu-item-radius
        color: $menu-item-color
        display: block
        padding: $menu-list-link-padding

        &:hover
            background-color: $menu-item-hover-background-color
            color: $menu-item-hover-color

        &.is-active
            background-color: $menu-item-active-background-color
            color: $menu-item-active-color

.menu-label
    color: $menu-label-color
    font-size: $menu-label-font-size
    letter-spacing: $menu-label-letter-spacing
    text-transform: uppercase

    &:not(:last-child)
        margin-bottom: $menu-label-spacing
