@import 'menu-vars'

.menu-list
    li
        ul
            border-left: $menu-list-border-left
            margin: $menu-nested-list-margin
            padding-left: $menu-nested-list-padding-left
