/* ---------------------------------
 *  Post Navigation
 * --------------------------------- */
$post-navigation-fg ?= #545454

.post-navigation
    @extend .level.is-mobile
    color: $post-navigation-fg
    flex-wrap: wrap
    justify-content: space-between
    margin-top: 1.5rem

    .level-start, .level-end
        display: flex
        flex-basis: auto
        max-width: 50%

        .article-nav-prev, .article-nav-next
            @extend .level-item, .link-muted
            flex-grow: 1
            flex-shrink: 1

            .nav-arrow-icon
                flex-shrink: 0
                margin: 0 0.25rem 0.125rem
                width: 1rem
                height: 1rem

        .article-nav-prev
            justify-content: start
            text-align: left

        .article-nav-next
            justify-content: end
            text-align: right
