/* ---------------------------------
 *  Post Navigation
 * --------------------------------- */
$post-navigation-fg ?= #545454

.post-navigation
    @extend .card
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-top: 1.5rem
    padding: 1.5rem

    .article-nav-prev, .article-nav-next
        display: flex
        align-items: center
        column-gap: 0.25rem
        width: 50%
        min-height: 3rem
        padding: 0.25rem 0.375rem
        color: inherit

        &:hover
            background-color: $background
            color: $text-strong

        .nav-arrow-icon
            min-width: 1rem
            min-height: 1rem

        .nav-title
            text-align: center
            flex: 1 1 auto

    .article-nav-prev
        justify-content: start

    .article-nav-next
        justify-content: end
