@import '../../slim-bulma-stylus/element/content-small'
@import 'basic-card'

.article
    a.header
        @extend .link-muted
        display: block
        margin: 0 0 1.5rem

    a.content
        @extend .link-muted
        display: block
        width: -moz-fit-content
        width: fit-content
