/* ---------------------------------
 *  Pagination and Post Navigation
 * --------------------------------- */
$pagination-box-shadow ?= $card-shadow
$pagination-background-color ?= $button-background-color
$post-navigation-fg ?= #545454

.pagination
    @extend .pagination.is-centered
    margin-top: 1.5rem

    .pagination-link,
    .pagination-ellipsis,
    .pagination-previous,
    .pagination-next
        a
            color: $pagination-color

    .pagination-link,
    .pagination-previous,
    .pagination-next
        border: none
        background: $pagination-background-color
        box-shadow: $pagination-box-shadow

    .pagination-link.is-current
        background: $pagination-current-background-color

.post-navigation
    color: $post-navigation-fg
    flex-wrap: wrap
    justify-content: space-around

    .level-start, .level-end
        display: flex
        flex-basis: 50%

        .article-nav-prev, .article-nav-next
            flex-grow: 1
            flex-shrink: 1

            span
                margin-bottom: 0
                line-break: strict

            i
                margin-right: 0.5rem
                margin-left: 0.5rem
                margin-bottom: 0

