@import bulma-stylus-root + '/components/pagination'

/* ---------------------------------
 *  Pagination
 * --------------------------------- */
$pagination-box-shadow ?= $card-shadow
$pagination-background-color ?= $button-background-color

.pagination
    @extend .pagination.is-centered
    margin-top: 1.5rem

    .pagination-link,
    .pagination-ellipsis,
    .pagination-previous,
    .pagination-next
        a
            color: $pagination-color

    .pagination-link,
    .pagination-previous,
    .pagination-next
        border: none
        background: $pagination-background-color
        box-shadow: $pagination-box-shadow

    .pagination-link.is-current
        background: $pagination-current-background-color
