/* ---------------------------------
 *        Back to Top Button
 * --------------------------------- */
#back-to-top
    position: fixed
    opacity: 0
    outline: none
    padding: 8px 0
    border-radius: $card-radius
    transform: translateY(120px)
    transition: .4s ease opacity, .4s ease width, .4s ease transform, .4s ease border-radius

    &.is-rounded
        border-radius: 50%

    &.fade-in
        opacity: 1

    &.rise-up
        transform: translateY(0)

    svg
        vertical-align: middle
        width: $body-size
        height: 24px
        fill: $card-color
