/* ---------------------------------
 *        Back to Top Button
 * --------------------------------- */
#back-to-top
    position: fixed
    width: 48px
    height: 48px
    right: 24px
    bottom: 24px
    box-shadow: $card-shadow
    border-radius: 50%
    z-index: 99
    opacity: 0
    visibility: hidden
    transition: 0.2s

    &.fade-in
        opacity: 1
        visibility: visible

    svg
        vertical-align: middle
        width: $body-size
        height: 24px
