/* ---------------------------------
 *        Back to Top Button
 * --------------------------------- */
#back-to-top
    position: fixed
    display: flex
    justify-content: flex-end
    align-items: center
    height: 48px
    right: 24px
    bottom: 24px
    border-radius: $card-radius
    box-shadow: $card-shadow
    overflow: hidden
    z-index: 99
    opacity: 0
    visibility: hidden
    transition: 0.2s

    &.fade-in
        opacity: 1
        visibility: visible

    .button
        width: 48px
        height: 48px
        border-radius: $card-radius

        svg
            width: $body-size
            height: 24px

        &:not(:last-child)
            border-top-right-radius: 0
            border-bottom-right-radius: 0

        +until($tablet)
            & + .button
                border-top-left-radius: 0
                border-bottom-left-radius: 0

    +tablet()
        .catalogue
            display: none !important
