/* ---------------------------------
 *          Gallery Plugin
 * --------------------------------- */
.gallery-item
    .caption
        text-align: center
        color: $text-light
        font-size: $size-6
