/* ---------------------------------
 *       MathJax and KaTeX
 * --------------------------------- */
.MathJax, .MathJax_Display, .MJXc-display, .MathJax_SVG_Display, .katex-display
    overflow-x: auto
    overflow-y: hidden

.katex
    white-space: nowrap

.katex-display
    margin-top: -1em !important

.katex-html
    padding-top: 1em

    .tag
        align-items: unset
        background-color: unset
        border-radius: unset
        color: unset
        display: unset
        font-size: unset
        height: unset
        justify-content: unset
        line-height: unset
        padding-left: unset
        padding-right: unset
        white-space: unset
