@import 'generic-vars'

html
    background-color: $body-background-color
    font-size: $body-size
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    min-width: $body-min-width
    overflow-x: $body-overflow-x
    overflow-y: $body-overflow-y
    text-rendering: $body-rendering
    -webkit-text-size-adjust: 100%
    text-size-adjust: 100%

article, figure, footer, header, section
    display: block

body, button
    font-family: $body-family

body
    color: $body-color
    font-size: $body-font-size
    font-weight: $body-weight
    line-height: $body-line-height

a
    color: $link
    cursor: pointer
    text-decoration: none

    &:hover
        color: $link-hover

img
    height: auto
    max-width: 100%

span
    font-style: inherit
    font-weight: inherit

svg
    fill: currentColor
