dl, dt, dd, blockquote, pre, iframe
    margin: 0
    padding: 0

iframe
    border: 0

table
    border-collapse: collapse
    border-spacing: 0

td, th
    padding: 0

    &:not([align])
        text-align: left
