@import '../slim-bulma-stylus/base/minireset'
@import '../slim-bulma-stylus/base/generic-basic'
@import '../slim-bulma-stylus/base/helpers'
@import '../slim-bulma-stylus/element/container'
@import '../slim-bulma-stylus/layout/section'
@import '../slim-bulma-stylus/grid/columns'

html
    height: 100%
    -webkit-text-size-adjust: 100%
    -moz-text-size-adjust: 100%
    -ms-text-size-adjust: 100%
    text-size-adjust: 100%

body
    min-height: 100%
    display: flex
    flex-direction: column

body > .section
    flex-grow: 1

.column-main
    order: 2

.column-right
    order: 3

.column-solo
    flex: none
    width: percentage(12 / 12)

+from($tablet)
    .column-duo-main, .column-trio-main
        flex: none
        width: percentage(8 / 12)

    .column-duo-widgets, .column-trio-widgets
        flex: none
        width: percentage(4 / 12)

+from($widescreen)
    .column-trio-main
        flex: none
        width: percentage(6 / 12)

    .column-trio-widgets
        flex: none
        width: percentage(3 / 12)

+desktop()
    ::-webkit-scrollbar
        width: 8px
        height: 8px

    ::-webkit-scrollbar-track
        border-radius: 3px
        background: rgba(0, 0, 0, 0.06)
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1)

    ::-webkit-scrollbar-thumb
        border-radius: 3px
        background: rgba(0, 0, 0, 0.12)
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2)

    ::-webkit-scrollbar-thumb:hover
        background: rgba(0, 0, 0, 0.24)
