@import '../slim-bulma-stylus/element/button'

/* ---------------------------------
 *            Buttons
 * --------------------------------- */
.button
    &.is-transparent
        color: inherit
        background: transparent
        border-color: transparent
