/* ---------------------------------
 *          Code Highlight
 * --------------------------------- */
$codeblock-caption-bg ?= rgba(200, 200, 200, .15)

.highlight
    padding: 0
    width: 100%
    position: relative
    margin: 1em 0 1em !important
    border-radius: $radius
    line-height: 1.5

    &.folded
        .highlight-body
            height: 0

    pre, table tr:hover
        color: inherit
        background: transparent

    table
        width: auto

        tr td
            border: none

        tr:not(:first-child) td
            padding-top: 0

        tr:not(:last-child) td
            padding-bottom: 0

    pre
        padding: 0
        overflow: visible

        .line, code .hljs
            line-height: 1.5rem

    figcaption, .gutter, .caption
        background: $codeblock-caption-bg

    figcaption, .caption
        margin: 0 !important
        padding: .3em 0em .3em .75em
        font-style: normal
        font-size: .8em

        *
            color: inherit

        span
            font-weight: 500
            font-family: $family-code

        .level-left *:not(:last-child)
            margin-right: .5em

        .level-right *:not(:first-child)
            margin-left: .5em

        .fold, .copy
            cursor: pointer

        .copy
            border: none
            padding: 0 0.75em 0 0
            background-color: inherit
            opacity: .7

        &.level
            overflow: auto

            .level-right
                a
                    padding: 0em .75em

    .highlight-body
        overflow: auto

        code.hljs
            border: 0
            border-radius: 0
            color: inherit
            background-color: inherit
            padding: 0.5em 0.75em

    .gutter
        text-align: right

    .tag, .title, .number, .section
        display: inherit
        font: inherit
        margin: inherit
        padding: inherit
        background: inherit
        height: inherit
        text-align: inherit
        vertical-align: inherit
        min-width: inherit
        border-radius: inherit

figure.highlight.foldable, div.highlight.foldable
    div.level-left
        cursor: pointer

/* ---------------------------------
 *        Fix Gist Snippet
 * --------------------------------- */
.gist
    table
        tr:hover
            background: transparent

        td
            border: none

    .file
        all: initial

svg_icon(w, h, m, bgc, name)
    display: inline-block
    content: ''
    background-color: bgc
    width: w
    height: h
    margin: m
    -webkit-mask: name
    mask: name
    -webkit-mask-size: cover
    mask-size: cover
    text-align: center
    vertical-align: sub

.svg-angle-down:before
    svg_icon(18px, 18px, 0, rgb(220, 220, 220), url('/img/angle-down.svg'))

.svg-angle-right:before
    svg_icon(12.6px, 18px, 0 2.7px, rgb(220, 220, 220), url('/img/angle-right.svg'))

.svg-copy:before
    svg_icon(16px, 18px, 0, rgb(220, 220, 220), url('/img/copy.svg'))
