@import '../slim-bulma-stylus/layout/footer'
@import '../slim-bulma-stylus/component/level-image'
@import '../slim-bulma-stylus/form-tool/field-addons'
@import '../slim-bulma-stylus/element/button'

/* ---------------------------------
 *            Page Footer
 * --------------------------------- */
footer.footer
    .level-start
        +mobile()
            text-align: center

        p
            font-size: $size-7

            a
                text-decoration: underline solid

    .level-end
        &.field
            flex-wrap: wrap
            align-items: center

            +mobile()
                justify-content: center
                margin-top: 1rem

        .button
            color: inherit
            background: transparent
            border-color: transparent

            &.is-large svg
                width: 2rem
                height: 2rem

    .footer-logo
        display: block
        margin-bottom: 0.5rem

        img
            max-height: $logo-height
