@import '../slim-bulma-stylus/layout/footer'
@import '../slim-bulma-stylus/component/level-image'
@import '../slim-bulma-stylus/form-tool/field-addons'

/* ---------------------------------
 *            Page Footer
 * --------------------------------- */
footer.footer
    .level-start
        +mobile()
            text-align: center

    .level-end
        .field
            flex-wrap: wrap
            align-items: center

            +mobile()
                justify-content: center
                margin-top: 1rem

        .button.is-large
            svg
                width: 2rem;
                height: 2rem;
                fill: $text

    .underline
        text-decoration: underline solid

    .footer-logo
        margin-bottom: 0.5rem

        img
            max-height: $logo-height
