@import bulma-stylus-root + '/layout/footer'

/* ---------------------------------
 *            Page Footer
 * --------------------------------- */
footer.footer
    .level-start
        +mobile()
            text-align: center

    .level-end
        .field
            flex-wrap: wrap
            align-items: center

            +mobile()
                justify-content: center
                margin-top: 1rem

        .button.is-large
            svg
                width: 2rem;
                height: 2rem;
                fill: $text

    .underline
        text-decoration: underline solid

.footer-logo
    img
        max-height: $logo-height
