/* ---------------------------------
 *           Flex helpers
 * --------------------------------- */
/*for n in (0 .. 5)
    .order-{n}
        order: n !important*/

//$justify-contents = start center
$justify-contents = center

for $name in $justify-contents
    .justify-content-{$name}
        justify-content: $name !important

/* ---------------------------------
 *           Color helpers
 * --------------------------------- */
.link-muted
    color: inherit
    fill: inherit

    &:hover
        color: $primary !important
        fill: $primary !important
