/* ---------------------------------
 *        Back to Top Button
 * --------------------------------- */
//@import 'plugins/back_to_top'

/* ---------------------------------
 *          Gallery Plugin
 * --------------------------------- */
@import 'plugins/gallery'

/* ---------------------------------
 *      Page Loading Progressbar
 * --------------------------------- */
//@import 'plugins/progressbar'

/* ---------------------------------
 *       Fix FontAwesome Icons
 * --------------------------------- */
@import 'plugins/fix_fa_icons'

/* ---------------------------------
 *       MathJax and KaTeX
 * --------------------------------- */
//@import 'plugins/mathjax_katex'

/* ---------------------------------
 *         Cookie Consent
 * --------------------------------- */
//@import 'plugins/cookie_consent'
