bulma-stylus-root = '../../../../node_modules/bulma-stylus/stylus'

/* ---------------------------------
 *   Override Bulma CSS Framework
 * --------------------------------- */
$body-size ?= 14px
$body-background-color ?= #f7f7f7

$family-sans-serif ?= sans-serif
$family-code ?= 'Source Code Pro', sans-serif

$text-light ?= #595959

$size-1 ?= 2.00rem // 28px
$size-2 ?= 1.72rem // 24px
$size-3 ?= 1.50rem // 21px
$size-4 ?= 1.29rem // 18px
$size-5 ?= 1.15rem // 16px
$size-5_5 ?= 1.072rem // 15px
$size-6 ?= 1.00rem // 14px
$size-7 ?= 0.86rem // 12px

$size-large ?= $size-1
$size-medium ?= $size-3
$size-normal ?= $size-6
$size-small ?= $size-7

$primary ?= $blue
$custom-colors ?= {
    grey-lightest: {
        '1': $grey-lightest
        '2': $grey-darker
    }
}

$info ?= #a6d2f7
$info-invert ?= #3b3b3b
$info-light ?= #f3f6fc
$info-dark ?= #145785

$warning ?= #ffdd57
$warning-invert ?= #3b3b3b
$warning-light ?= #fff6d6
$warning-dark ?= #665200

$success ?= #9ddcb3
$success-invert ?= #3b3b3b
$success-light ?= #f4fbf6
$success-dark ?= #1f6136

$navbar-item-active-color ?= $primary
$footer-background-color ?= $scheme-main

$gap ?= 64px
$tablet ?= 769px
$desktop ?= 1088px
$widescreen ?= 1280px
$fullhd ?= 1472px

$shadow ?= 0 4px 10px rgba(0, 0, 0, 0.05)

$title-weight ?= $weight-normal

$control-height ?= 2.25em
$button-padding-vertical ?= calc(0.375em - 1px)

$card-radius ?= $radius
$card-media-margin ?= 0.75rem
$card-shadow ?= $shadow, 0 0 1px rgba(0, 0, 0, 0.1)

$menu-label-font-size ?= $size-small
$menu-label-color ?= $text-light

$menu-item-active-color ?= #184ea0
$menu-item-active-background-color ?= hsl(219, 70%, 96%)

$content-heading-weight ?= $weight-normal


$logo-height ?= 1.75rem

// FIXME: https://github.com/groenroos/bulma-stylus/issues/11
@import bulma-stylus-root + '/utilities/initial-variables'
@import bulma-stylus-root + '/utilities/functions'
@import bulma-stylus-root + '/utilities/derived-variables'

$colors = merge($colors, $custom-colors)
